#main {
  .main {
    overflow: hidden;
    position: relative;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
    background-attachment: fixed;
    .content {
      position: relative;
      width: 450px;
      margin: 0 auto;
      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        text-align: center;
        color: #ffffff;
      }
      p {
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #b8b8b8;
      }
      .buttons {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        .button {
          margin: 0 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 650.5px) {
  #main {
    .main {
      .content {
        width: 80%;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
