#info {
  background: linear-gradient(45deg, #131b2f 0%, #121f34 100%);
  position: relative;
  overflow: hidden;
  padding: 100px 0; }
  #info .container .row .col-md-12 .info {
    display: flex;
    align-items: center; }
    #info .container .row .col-md-12 .info .info_wrapper {
      display: flex;
      align-items: center; }
      #info .container .row .col-md-12 .info .info_wrapper img {
        margin-right: 40px;
        width: 504px;
        border-radius: 20px;
        z-index: 2; }
      #info .container .row .col-md-12 .info .info_wrapper .content {
        padding: 90px 79px 90px 314px;
        border: 1px solid #29abe2;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 20px;
        margin-left: -320px;
        z-index: 1; }
        #info .container .row .col-md-12 .info .info_wrapper .content .title {
          font-weight: 600;
          font-size: 40px;
          color: #ffffff;
          margin-bottom: 16px; }
        #info .container .row .col-md-12 .info .info_wrapper .content .wrapper {
          width: 450px; }
          #info .container .row .col-md-12 .info .info_wrapper .content .wrapper .text {
            font-family: "Actor";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #b8b8b8;
            margin-bottom: 15px; }
  #info .left_back {
    width: 1343.28px;
    height: 1068.34px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: -287px;
    transform: translateY(-50%); }

@media screen and (max-width: 650.5px) {
  #info .container .row .col-md-12 .info .info_wrapper {
    flex-wrap: wrap; }
    #info .container .row .col-md-12 .info .info_wrapper img {
      margin-right: 0;
      width: 230px; }
    #info .container .row .col-md-12 .info .info_wrapper .content {
      padding: 177px 20px 20px 20px;
      margin-left: 0;
      margin-top: -150px; }
      #info .container .row .col-md-12 .info .info_wrapper .content .title {
        font-size: 29px; }
      #info .container .row .col-md-12 .info .info_wrapper .content .wrapper {
        width: 100%; }
        #info .container .row .col-md-12 .info .info_wrapper .content .wrapper .text {
          font-size: 14px;
          line-height: 22px; } }
@media screen and (min-width: 650.5px) and (max-width: 768.5px) {
  #info .container .row .col-md-12 .info .info_wrapper {
    flex-wrap: wrap; }
    #info .container .row .col-md-12 .info .info_wrapper img {
      margin-right: 0;
      width: 330px; }
    #info .container .row .col-md-12 .info .info_wrapper .content {
      padding: 177px 50px 50px 50px;
      margin-left: 0;
      margin-top: -150px; }
      #info .container .row .col-md-12 .info .info_wrapper .content .title {
        font-size: 33px; }
      #info .container .row .col-md-12 .info .info_wrapper .content .wrapper {
        width: 100%; }
        #info .container .row .col-md-12 .info .info_wrapper .content .wrapper .text {
          font-size: 16px;
          line-height: 22px; } }
@media screen and (min-width: 768.5px) and (max-width: 1200.5px) {
  #info .container .row .col-md-12 .info .info_wrapper {
    flex-wrap: wrap; }
    #info .container .row .col-md-12 .info .info_wrapper img {
      margin-right: 0;
      width: 450px; }
    #info .container .row .col-md-12 .info .info_wrapper .content {
      padding: 177px 50px 50px 50px;
      margin-left: 0;
      margin-top: -150px; }
      #info .container .row .col-md-12 .info .info_wrapper .content .title {
        font-size: 40px; }
      #info .container .row .col-md-12 .info .info_wrapper .content .wrapper {
        width: 100%; }
        #info .container .row .col-md-12 .info .info_wrapper .content .wrapper .text {
          font-size: 16px;
          line-height: 22px; } }

/*# sourceMappingURL=info.css.map */
